form ul {
    width:450px;
    list-style-type: none;
    list-style-position:outside;
    margin:10px;
    padding:50px;
    border-width:2px;
    border-color: #b2b2b2;
    border-style: solid;
    position:relative;
}

div {
    position:absolute;
    margin-top: -60px;
    margin-left: -40px;
    background: white;
}

.contact_form li {
    padding:1px;
    position:relative;
}

.validationButton {
    position: absolute;
    top: 5px;
    width:75px;
    height: 22px;
    float: left;
   
}

.contact_form label {
    width:120px;
    float: left;
}
