#bb2 { 
    background:#9aef7f;
    width:550px; 
    height: 420px;
    position:relative;
    box-shadow: 10px -10px #616860;
      
    
    }

#attGauche {
    position:relative;
    left:10%;
    top:3%;
}

#attDroite {
    position:absolute;
    right:10%;
    top:3%;
}

#attCentre {
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top:3%;
}

#cGauche {
    position:absolute;
    left:15%;
    top:110px;
    text-align: center;
}

#cDroite {
    position:absolute;
    right:15%;
    top:110px;
    text-align: center;
}

#cCentre {
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top:110px;
}

    #d1Gauche {
        position:absolute;
        left:3%;
        top:55%;
        text-align: center;
    }

#d2Gauche {
    position:absolute;
    left:30%;
    top:55%;
}

#d1Droite {
    position:absolute;
    right:30%;
    top:55%;
}

#d2Droite {
    position:absolute;
    right:3%;
    top:55%;
}

#gardien {
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top:330px;
}

#carte {
    height: 548px;width:540px;
position:relative;
background-image: url(../images/carte.jpg);
}

.sole1 {
    position : absolute;
    
    width:50px;
    height:48px;
    background-image: url(../images/soleil.png);
}


.nuvola4 {
    position : absolute;
    width:78px;
    height:48px;
    background-image: url(../images/nuage.png);
}

.solenuvola {
    position:absolute;
    width:78px;
    height:48px;
    background-image: url(../images/soleil.png),url(../images/nuage.png);
    background-repeat: no-repeat;
}

.nuvolasole {
    position:absolute;
    width:78px;
    height:48px;
    background-image: url(../images/nuage.png),url(../images/soleil.png);
    background-repeat: no-repeat;
}